
.profileDesign {
    height: 88vh;
    width: 100vw;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    background-color:  rgb(106, 168, 255); 

    overflow-x: hidden;
}

.inputsContainer {
    height: 100%;
    width: 30%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: solid black 0.1em;

    font-weight: bold;
}

.myPosts {
    width: 40%;
    height: 100%;

    margin-top: 2em;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.myPostCard {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.updateButton {
    height: 2em;
    width: 10em;
    background-color: rgb(183, 185, 255); 

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
    color: black;
    font-weight: bold;
    transition: 0.3s;
    border: solid black 0.1em;
    border-radius: 1em;
}

.updateButton:hover {
    cursor: pointer;
    transition: 0.3s;
    background-color: rgb(151, 154, 255);
}

.allowButton{
    height: 2em;
    width: 10em;
    background-color: rgb(16, 178, 51);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
    color: black;
    font-weight: bold;
    transition: 0.5s;
    border: solid black 0.1em;
    border-radius: 1em;
}

.allowButton:hover{
    cursor: pointer;
    transition: 0.3s;
    background-color: rgb(14, 150, 43);
}

.deleteButton {
    height: 2em;
    width: 6em;
    background-color: rgb(183, 185, 255); 

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    margin-top: 2em;
    color: black;
    font-weight: bold;
    transition: 0.5s;
    border: solid black 0.1em;
    border-radius: 1em;
}

.deletePostButton{
    width: 8em;
    display: flex;
    justify-content: center;
}

.deleteButton:hover {
    cursor: pointer;
    background-color: rgb(151, 154, 255); 
    transition: 0.3s;
}

.postCardDesign {
    width: 30em;
    height: 30em;
}

.postCardDesign:hover {
    cursor: pointer;
    background-color: rgb(203, 203, 203);
    transition: 0.2s;
}

.editInstruction{
    height: 10%;
    
}
