
.homeDesign {

    height: 88vh;
    width: 100vw;

    background-color:  rgb(106, 168, 255);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    overflow-x: hidden;

}

.welcomeView{
    width: 50em;

    margin:1em;

    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.welcomeMsg {
    height: 2em;
    width: 20em;
    
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;

    margin-bottom: 2em;

    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

    font-size: 3em;

    background-color: rgb(106, 168, 255);
}

.cardsDesign {

    height: 10vh;

    background-color: rgb(106, 168, 255);
    margin: 1em;
    border-radius: 1em;

    display: flex;
    flex-direction: column;
    align-items: center;

    transition: 0.2s;
}


.registerButtonDesign {
    height: 2.2em;
    width: 10em;

    border: solid black 0.1em;
    border-radius: 1em;

    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;

    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: rgb(183, 185, 255);

    transition: 0.3s;
}

.registerButtonDesign:hover{
    background-color:rgb(151, 154, 255); 
    cursor: pointer;
    transition: 0.3s;
    height: 2.5em;
    width: 10.5em;
}

.loginButtonDesign {
    height: 2.2em;
    width: 10em;

    margin-bottom: 2em;
    border: solid black 0.1em;
    border-radius: 1em ;

    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;

    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: rgb(255, 255, 255);

    transition: 0.3s;
}

.loginButtonDesign:hover{
    background-color:rgb(232, 233, 255); 
    cursor: pointer;
    transition: 0.3s;
    height: 2.5em;
    width: 10.5em;
}
.postPanel {
    height: 20m;
    width: auto;

    background-color: white;

    border: solid rgb(0, 0, 0) 0.1em;
    border-radius: 0.6em;
    margin-bottom: 1em;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.writeBox {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}

.createPostInput {
    height: 8em;
    width: 30em;

    border-radius: 0.5em;
    border: white;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.createPostButton {
    height: 2em;
    width: 10em;
    background-color: rgb(183, 185, 255);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-left: 1em;
    color: black;
    font-weight: bold;
    transition: 0.5s;
    border: solid black 0.1em;
    border-radius: 1em;
}

.postTitleInput {
    height: 2em;
    width: 25em;
    margin-bottom: 0.5em;

    border-radius: 0.3em;
    border: white;
}

.sendButton {
    width: 11em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.createPostButton:hover {
    cursor: pointer;
    background-color: rgb(151, 154, 255);
}

.likeContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.likeButton {
    height: 2.5em;
    width: 2.5em;

    border-radius: 2em;

    margin-left: 1em;
    margin-bottom: 3em;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color:  rgb(106, 168, 255);
}

.likeButton:hover {
    cursor: pointer;
}

.likesNum{
    height: 4em;

    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 1em;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.cardsDesign:hover {
    cursor: pointer;
    background-color: rgb(106, 168, 255); 
    transition: 0.3s;
}

.cardDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 1em;


    border-bottom: solid black 0.1em;
}

.homeHeader{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 2em;

    margin-bottom: 3em;
}