
.homeDesign {
    height: 88vh;
    width: 100vw;

    background-color:  rgb(138, 138, 138);

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcomeMsg {
    font-size: 2em;
    
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}