
.welcomeMsg {
    height: 88vh;
    /* width: 100vw; */
    font-size: 2em;

    background-color: rgb(138, 138, 138);
}

.homeDesign {

    height: 88vh;
    width: 100vw;

    background-color: #B2A77F;

    display: grid;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;

}

.cardsDesign {

    width: 50vw;
    height: 80vh;
    overflow-y: scroll;
    overflow-x: hidden;
}