.navigatorDesign {
    color: white;
    font-weight: bold;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 1em;


    transition: 0.3s;
}

.navigatorDesign:hover {

    transition: 0.3s;
    color: rgb(160, 160, 160);
    cursor: pointer;
}