
.headerDesign {

    height: 12vh;
    width: 100vw;

    background-color: rgb(33, 33, 33);

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.logoutDesign {
  color: white;
  font-weight: bold;

  transition: 0.3s;
}

.logoutDesign:hover {
  transition: 0.3s;
  color: rgb(160, 160, 160);
  cursor: pointer;
}  
